<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" href="../../static/images/logo.png">




    <title>DASHBOARD</title>
</head>

<body>
    {% include 'activities/navbar.html' %}

    <!-- MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Complete Profile !</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    Please fill up all related Field to complete <a href="/profile_page">profile</a> details. Disregard this message if you already done it. Thank you !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/editprofile"><button type="button" class="btn btn-primary">Proceed</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- end of modal -->
    <section class="home-section">
        <div class="heads">
            <h1 class="text"><i class="fa-solid fa-house"></i> DASHBOARD</h1><br>
        </div>
        <div class="bg">
            {% for s in name %}
            <div class="left">
                <div class="cards">
                    <div class="data">
                        <h5 id="title">Student</h5>
                        <h1 id="name">Welcome {{s.firstname}} {{s.lastname}}</h1>

                    </div>
                    <div class="icon">
                        <i class='bx bxs-user-circle'></i>

                    </div>

                </div>
                <br>
                <div class="card3">
                    <h5 id="tits">Announcements</h5>
                    <hr> {% for k in anns %}
                    <a href="" id="anns">
                        <div class="left2">
                            <i class='bx bxs-megaphone'></i>

                        </div>
                        <div class="right2">
                            <h5 id="subject">{{k.subject}}</h5>
                            <p>{{k.date_posted}}</p>

                        </div>
                    </a><br> {% empty %}
                    <h5 id="no">No Announcements <i class='bx bx-sad' style="vertical-align: middle;"></i></h5>
                    {% endfor %}



                </div>

            </div>

            <div class="right">
                <div class="cards" id="r_card2">
                    <div class="data">
                        <h5 id="title">Today</h5>
                        <h1 id="name">{% now "jS F Y" %}</h1>

                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-calendar-days"></i>

                    </div>

                </div><br>
                <div class="cards" id="r_card">
                    <div class="data">
                        <h5 id="title">Application Status</h5>

                        <h1 id="name">{{s.status}}</h1>


                    </div>
                    <div class="icon">
                        {% if s.status == 'APPROVED' %}
                        <i class="fa-solid fa-circle-check" style="color: green;"></i> {% elif s.status == 'PENDING' %}
                        <i class='bx bxs-check-circle' style="color: rgb(187, 141, 1);"></i> {% endif %}
                    </div>

                </div>
                <br>
                <div class="cards1">
                    <div class="data1">
                        <h5 id="title">Scholarship Period</h5><br>
                        <div class="period">

                            <h1 id="name" style="color: rgb(55, 59, 55);">{{s.start_dates}} </h1>
                            <p> -</p>
                            <h1 id="name" style="color: rgb(109, 4, 4);">{{s.end_date}}</h1>

                        </div>

                    </div>
                    <!-- <div class="icon">
                        {% if s.status == 'ENROLLED' %}
                        <i class='bx bxs-time'></i> {% elif s.status == 'PENDING' %}
                        <i class='bx bxs-time'></i> {% endif %}
                    </div> -->

                </div>


            </div>


            {% endfor %}


        </div>

    </section>


    <script>
        var txt = document.getElementById('status').value;

        if (txt == 'ENROLLED') {
            document.getElementById('play').style.display = "initial"
        } else {
            document.getElementById('pause').style.display = "initial"
        }
    </script>

    <script type="text/javascript">
        $(window).on('load', function() {
            $('#exampleModal').modal('show');
        });
    </script>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

</body>

</html>