<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/student_profile.css">
    <link rel="icon" href="../../static/images/tup.png">
    <title>profile</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function() {
            $("#birthday").datepicker({
                onSelect: function(value, ui) {
                    var today = new Date(),
                        age = today.getFullYear() - ui.selectedYear;
                    $('#age').val(age);
                },

                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "c-100:c+0"
            });

        });
    </script>
</head>

<body>
    {% include 'activities/admin_nav.html' %}

    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    {% for s in details %}
                    <img src="{{s.picture.url}}" alt=""> {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <section class="page-content">
        <div class="heads">
            <a href="/create_platoon_page">
                <h1 class="text"><i class='bx bx-user-pin'></i>ACTIVE SCHOLAR &nbsp;>&nbsp;</h1>
            </a><br>
            <h1 class="text"><i class='bx bx-user-pin'></i>PROFILE</h1>
        </div>

        <br>

        <!-- whole body -->
        {% for s in name %}
        <div class="bg" id="ggs">

            <form action="{% url 'activities:update_manage' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="containers">
                    <div class="row flex-lg-nowrap">
                        <div class="col-12 col-lg-auto mb-3" style="width: 300px;">
                            <!-- <div class="card p-3">
                                <div class="e-navlist e-navlist--active-bg">
                                    <ul class="nav">
                                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-crud-users" target="__blank"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
                                        <li class="nav-item"><a class="nav-link px-2" href="https://www.bootdey.com/snippets/view/bs4-edit-profile-page" target="__blank"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <div class="card p-3">
                                <div class="mb-2" style="color: rgb(43, 43, 43);"><b><i class="fa-solid fa-scroll"></i> SCHOLARSHIP CATEGORY</b></div>
                                <hr>
                                <br>
                                <div class="row">
                                    <div class="col">

                                        <h6 style="font-weight: bold; color:rgb(0, 101, 141)">{{s.ip_status}}</h6>
                                        <label>Bachelors Degree</label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        {% if s.ip_category == "" %}
                                        <h6 style="font-weight: bold; color:rgb(0, 101, 141)">None</h6>
                                        {% else %}
                                        <h6 style="font-weight: bold; color:rgb(0, 101, 141)">{{s.ip_category}}</h6>
                                        {% endif %}
                                        <label>Tribe</label>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="card p-3">
                                <div class="mb-2" style="color: rgb(43, 43, 43);"><b><i class="fa-solid fa-scroll"></i> REQUIREMENTS SUBMITTED</b></div>
                                <hr>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            {% if s.cor == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Certificate of Enrollment</a>{% else %}
                                            <a href="{{s.cor.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Certificate of Enrollment</a> {% endif %}

                                        </div>

                                        <div class="form-group">
                                            {% if s.cog == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Certificate of Grades</a>{% else %}
                                            <a href="{{s.cog.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Certificate of Grades</a> {% endif %}

                                        </div>

                                        <div class="form-group">
                                            {% if s.birth_cert == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Birth certificate</a>{% else %}
                                            <a href="{{s.birth_cert.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Birth certificate</a> {% endif %}

                                        </div>


                                        <div class="form-group">
                                            {% if s.good_moral == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Certificate of Good Moral Character</a>{% else %}
                                            <a href="{{s.good_moral.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Certificate of Good Moral Character</a> {% endif %}

                                        </div>


                                        <div class="form-group">
                                            {% if s.barangay == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Certificate of Residency from Barangay</a>{% else %}
                                            <a href="{{s.barangay.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Certificate of Residency from Barangay</a> {% endif %}

                                        </div>

                                        <div class="form-group">
                                            {% if s.mangyan == "" %}
                                            <a href="" style="text-decoration: none; color:grey; "><i class="fa-solid fa-circle-xmark" style="color: red;"></i> Certificate proving legitimacy as Mangyan
                                                issued by tribal leader</a>{% else %}
                                            <a href="{{s.mangyan.url}}" target="_blank"><i class="fa-solid fa-circle-check" style="color: green;"></i> Certificate proving legitimacy as Mangyan
                                                issued by tribal leader</a> {% endif %}

                                        </div>


                                    </div>
                                    <br>

                                </div>







                            </div>
                            <br>

                            <div class="card p-3">
                                <div class="mb-2" style="color: rgb(43, 43, 43);"><b><i class="fa-solid fa-scroll"></i>RESULTS</b></div>
                                <hr>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h6 style="font-weight: bold; color:rgb(0, 101, 141)">{{s.exam_result}}</h6>
                                            <label>Exam Score</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <h6 style="font-weight: bold; color:rgb(0, 101, 141)">{{s.care_of}}</h6>
                                            <label>Care of</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col" id="ggs">
                            <div class="row">
                                <div class="col mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="e-profile">
                                                <div class="row">
                                                    <div class="col-12 col-sm-auto mb-3">
                                                        <div class="mx-auto" style="width: 140px;">
                                                            <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                                <span style="color: rgb(255, 255, 255); font: bold 8pt Arial;">
                                                                <img src="{{s.picture.url}}" alt="" height="140px">
                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{s.firstname}} {{s.lastname}}</h4>
                                                            <p class="mb-0" style="text-align: left !important;"><i class="fa-solid fa-envelope"></i> {{s.email}}</p>
                                                            <div class="text-muted"><small>Status: {{s.status}} </small></div>
                                                            <!-- <div class="mt-2">
                                                                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">
                                                                    <i class="fa-brands fa-telegram"></i>
                                                                  <span>Message</span>
                                                                </button>
                                                            </div> -->
                                                        </div>
                                                        <div class="text-center text-sm-right">
                                                            <span class="badge badge-success">Applicant</span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <!-- <ul class="nav nav-tabs">
                                                <li class="nav-item"><a href="#" class="active nav-link">Student Information</a></li>
                                            </ul> -->
                                                <!-- <h5 class="pt-sm-2 pb-1 mb-0 text-nowrap">Student Information</h5> -->
                                                <div class="mb-2"><b>Student Information</b></div>
                                                <div class="tab-content pt-3">
                                                    <div class="tab-pane active">

                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="row" id="ro">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>First Name </label>
                                                                            <input type="hidden" name="ids" value="{{s.id}}">
                                                                            <input class="form-control" type="text" name="firstname" placeholder="First Name" value="{{s.firstname}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Middle Name</label>
                                                                            <input class="form-control" type="text" name="middlename" placeholder="Middle name" value="{{s.middlename}}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Last name</label>
                                                                            <input class="form-control" type="text" name="lastname" placeholder="Last Name" value="{{s.lastname}}">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row" id="ro">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Email</label>
                                                                            <input class="form-control" type="text" placeholder="gsfe Email" value="{{s.email}}" name="email">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>ID Number</label>
                                                                            <input class="form-control" type="text" placeholder="Student ID" value="{{s.idnumber}}" name="idnumber">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Address <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input class="form-control" type="text" placeholder="Address" value="{{s.address}}" name="address" required>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row" id="colcol">

                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Birthday <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input type="date" name="birthday" id="birthday" class="form-control" value="{{s.birthday}}" required><br/><br/>

                                                                            <input type="hidden" name="m" class="form-control"><br>
                                                                            <input type="hidden" name="d" class="form-control"><br>

                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Age</label>
                                                                            <input type="text" placeholder="Age" name="age" id="age" class="form-control">
                                                                        </div>
                                                                    </div> -->
                                                                </div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Gender <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <select id="" class="form-control" name="gender" required>
                                                                                <option value="{{s.gender}}" selected di>{{s.gender}}</option>
                                                                                <option value="Male">Male</option>
                                                                                <option value="Female">Female</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Course <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input required type="text" placeholder="Section" class="form-control" name="section" value="{{s.section}}">
                                                                            <input type="hidden" value="{{s.status}}" name="status">
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Contact <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input type="number" name="cpnumber" class="form-control" value="{{s.cpnumber}}" placeholder="Contact Number" required>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Civil Status <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <select name="civil" id="" class="form-control" required>
                                                                                <option value="{{s.civil}}" disabled>{{s.civil}}</option>
                                                                                <option value="Single">Single</option>
                                                                                <option value="Married">Married</option>
                                                                                <option value="Widowed">Widowed</option>
                                                                                <option value="Divorced">Divorced</option>

                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row" id="colcol">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Nationality <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input required type="text" placeholder="Nationality" name="nationality" value="{{s.nationality}}" class="form-control">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Family Estimated Monthly Income</label>
                                                                            <input type="text" placeholder="Income" name="monthly_income" value="{{s.monthly_income}}" class="form-control">
                                                                        </div>

                                                                    </div>



                                                                </div>
                                                                <br>
                                                                <div class="mb-2"><b>Emergency Contact</b></div>
                                                                <div class="row" id="ro">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Contact person <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input required type="text" name="nfather" class="form-control" value="{{s.nfather}}" placeholder="Contact Person" required>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label>Contact Number <span style="color: red; font-size:20px; vertical-align:bottom;">*</span></label>
                                                                            <input required type="text" placeholder="Number" class="form-control" name="pcontact" value="{{s.pcontact}}" minlength="11" maxlength="11" onkeypress="return /\d/.test(String.fromCharCode(((event||window.event).which||(event||window.event).which)));">
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <br>
                                                                <br>
                                                                <hr>
                                                                <h3>Scholarship Status</h3>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label for="">Start of Subsidy</label>
                                                                            <input type="date" class="form-control" value="{{s.start}}" name="start">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <label for="">End of Subsidy</label>
                                                                            <input type="date" class="form-control" value="{{s.end}}" name="end">
                                                                        </div>
                                                                    </div>




                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <div class="form-group">
                                                                            <button class="btn btn-block btn-success" type="submit">
                                                                                <i class="fa-solid fa-file-export"></i>
                                                                           Update
                                                                        </button>
                                                                        </div>
                                                                    </div>



                                                                </div>


                                                                <hr>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </form>


            <br>


            </div>
            </div>




            {% endfor %}
    </section>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <!-- <script>

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: [ {{absent|safe}} , {{present |safe}}],
          backgroundColor: [
             '#D0021B','#7ED321'
          ],
          label: {{labels | safe}}
        }],
        labels: {{labels | safe}}
      },
      options: {
        responsive: true
      }
    };
    

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
   
      window.myPie = new Chart(ctx, config);
    };

     </script>  

     <script>

        var config2 = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: [ {{absent2|safe}} , {{present2 |safe}}],
              backgroundColor: [
                 '#D0021B','#7ED321'
              ],
              label: {{labels | safe}}
            }],
            labels: {{labels | safe}}
          },
          options: {
            responsive: true
          }
        };
        
    
        window.onload = function() {
          var ctx = document.getElementById('pie-chart2').getContext('2d');
       
          window.myPie = new Chart(ctx, config2);
        };
    
         </script>   -->
    <script>
        var fileTypes = ['pdf', 'docx', 'rtf', 'jpg', 'jpeg', 'png', 'txt']; //acceptable file types
        function readURL(input) {
            if (input.files && input.files[0]) {
                var extension = input.files[0].name.split('.').pop().toLowerCase(), //file extension from input file
                    isSuccess = fileTypes.indexOf(extension) > -1; //is extension in acceptable types

                if (isSuccess) { //yes
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        if (extension == 'pdf') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/pdf.png');
                        } else if (extension == 'docx') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/docx.png');
                        } else if (extension == 'rtf') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/rtf-file.png');
                        } else if (extension == 'png') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/png.png');
                        } else if (extension == 'jpg' || extension == 'jpeg') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/jpg.png');
                        } else if (extension == 'txt') {
                            $(input).closest('.fileUpload').find(".icon").attr('src', '../../static/images/txt-file.png');
                        } else {
                            //console.log('here=>'+$(input).closest('.uploadDoc').length);
                            $(input).closest('.uploadDoc').find(".docErr").slideUp('slow');
                        }
                    }

                    reader.readAsDataURL(input.files[0]);
                } else {
                    //console.log('here=>'+$(input).closest('.uploadDoc').find(".docErr").length);
                    $(input).closest('.uploadDoc').find(".docErr").fadeIn();
                    setTimeout(function() {
                        $('.docErr').fadeOut('slow');
                    }, 9000);
                }
            }
        }
        $(document).ready(function() {

            $(document).on('change', '.up', function() {
                var id = $(this).attr('id'); /* gets the filepath and filename from the input */
                var profilePicValue = $(this).val();
                var fileNameStart = profilePicValue.lastIndexOf('\\'); /* finds the end of the filepath */
                profilePicValue = profilePicValue.substr(fileNameStart + 1).substring(0, 20); /* isolates the filename */
                //var profilePicLabelText = $(".upl"); /* finds the label text */
                if (profilePicValue != '') {
                    //console.log($(this).closest('.fileUpload').find('.upl').length);
                    $(this).closest('.fileUpload').find('.upl').html(profilePicValue); /* changes the label text */
                }
            });

            $(".btn-new").on('click', function() {
                $("#uploader").append('<div class="row uploadDoc"><div class="col-sm-5"><div class="docErr">Please upload valid file</div><!--error--><div class="fileUpload btn btn-orange"> <img src="../../static/images/cloud-computing.png" class="icon"><span class="upl" id="upload">Upload document</span><input type="file" class="upload up" id="up" onchange="readURL(this);" /></div></div><div class="col-sm-6"><input type="text" class="form-control" name="" placeholder="Note"></div><div class="col-sm-1"><a class="btn-check"><i class="fa fa-times"></i></a></div></div>');
            });

            $(document).on("click", "a.btn-check", function() {
                if ($(".uploadDoc").length > 1) {
                    $(this).closest(".uploadDoc").remove();
                } else {
                    alert("You have to upload at least one document.");
                }
            });
        });
    </script>




    <!-- for checkbox multiple -->
    <script>
        var $myCheckbox = $('#myCheckbox'),
            $required = $('.required');

        $myCheckbox.on('click', function() {
            this.checked ? $required.prop('required', true) : $required.prop('required', false);
        });
    </script>

    <script>
        var $myCheckbox = $('#myCheckbox1'),
            $required = $('.required');

        $myCheckbox.on('click', function() {
            this.checked ? $required.prop('disabled', true) : $required.prop('required', false);
        });
    </script>



    <script>
        var limit = 1;
        $('input.single-checkbox').on('change', function(evt) {
            if ($(this).siblings(':checked').length >= limit) {
                this.checked = false;
            }
        });
    </script>



</body>

</html>