<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- <img class="bg" src="img/landing4.jpg"> -->
    <!-- <div class="bg" src="img/landing4.jpg"> </div> -->

    <div class="container">
        <div class="innercon">


            <div class="img">
                <img src="../../static/images/leftpic2.svg">
            </div>
            <div class="login-content">
                <form action="{% url 'activities:signin' %}" method="post">
                    {% csrf_token %}
                    <a href="/">
                        <img src="../../static/images/logo2.png"></a>
                    <h2 class="title">Welcome</h2>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <h5>ID Number</h5>
                            <input type="text" class="input" name="username">
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <h5>Password</h5>
                            <input type="password" class="input" name="password">
                        </div>
                    </div>
                    <a href="{% url  'activities:password_reset'  %}">Forgot Password?</a>
                    <input type="submit" class="btn" value="Login">
                    <p>Don't have an account? <a href="/signup_page" style="">Sign-up</a></p>
                </form>
            </div>



        </div>
    </div>

    <script>
        const inputs = document.querySelectorAll(".input");


        function addcl() {
            let parent = this.parentNode.parentNode;
            parent.classList.add("focus");
        }

        function remcl() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove("focus");
            }
        }


        inputs.forEach(input => {
            input.addEventListener("focus", addcl);
            input.addEventListener("blur", remcl);
        });
    </script>


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11 "></script>

<script>
        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>


</body>

</html>