<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHOLARSHIP</title>

    <link rel="stylesheet" href="../../static/css/res.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>

    {% include 'activities/navbar.html' %}
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">E-Scholarship Program</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    {% for s in name %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">

                            <input id="1" type="hidden" value="{{s.idnumber}}" class="form-control" name="idnumber">
                        </div>

                        <div class="form-group">
                            <h3 style="color: rgb(10, 126, 0);">
                                Apply E-Scholarship ?
                            </h3>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </div>

                    </form>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- modal 2 -->




    <section class="page-content">
        <div class="heads">
            <h1 class="text">REQUIREMENTS</h1><br>
            <h1 class="text" id="time"></h1>

        </div><br> {% for s in name %}
        <div class="bg">

            <div class="alls">
                <h5 id="ups">Upload all Requirements here</h5>
                <hr>
                <br>

                <!-- cor -->
                <form action="{% url 'activities:cor' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Certificate of Enrollment</span> <span style="color: red;">*</span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="hidden" name="ids" value="{{s.id}}">
                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="cor">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">

                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.cor != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span> {% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>
                <br>

                <!-- eo cor -->

                <!-- cog -->
                <form action="{% url 'activities:cog' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Certificate of Grades</span> <span style="color: red;">*</span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="cog">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.cog != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span>{% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>
                <br>

                <!-- eo cog -->

                <form action="{% url 'activities:birth_cert' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Birth Certificate</span> <span style="color: red;">*</span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="birth_cert">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.birth_cert != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span>{% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>
                <br>

                <form action="{% url 'activities:good_moral' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Certificate of Good Moral Character</span> <span style="color: red;">*</span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="good_moral">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.good_moral != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span>{% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>
                <br>

                <form action="{% url 'activities:barangay' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Certificate of Residency from Barangay</span> <span style="color: red;">*</span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="barangay">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.barangay != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span> {% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>

                <br>
                <form action="{% url 'activities:mangyan' s.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <h5 id="labs"><span>Certificate proving legitimacy as Mangyan 
                            issued by tribal leader</span> <span style="color: red;"></span></h5>
                        <div class="s">

                            <div class="custom-file">

                                <input type="file" class="custom-file-input" id="inputGroupFile04" required name="mangyan">
                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="inputGroupFileAddon04"><i class="fa-solid fa-upload"></i> Upload</button> {% if s.mangyan != '' %}
                                <span style="color: green;">Uploaded <i class="fa-solid fa-check"></i></span> {% else %}
                                <span style="color: rgb(179, 27, 0);">No File  <i class="fa-solid fa-xmark"></i></span> {% endif %}
                            </div>


                        </div>

                    </div>

                </form>





            </div>

            <div class="">

            </div>







        </div>
        {% endfor %}


    </section>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script>

        {% for msg in messages %}
        Swal.fire({
            icon: '{{msg.icon}}',
            text: '{{ msg }}'
        }) {% endfor %}
    </script>   -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>

</html>