@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    padding-bottom: 10px;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    justify-content: space-between;
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */


/* own css */

.bg {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 10px;
    float: left;
    height: 200px;
    width: 60%;
}

.right {
    float: right;
    height: 200px;
    width: 35%;
    padding: 10px;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(107, 105, 105);
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 10px;
}


/* #r_card {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(32, 10, 4);
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 10px;
} */

#r_card2 {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 10px;
}

.data {
    padding-top: 15px;
    width: 70%;
}

#name {
    font-weight: bold;
    font-size: 23px;
    color: #4b5050;
}

.icon {
    width: 15%;
}

.icon i {
    float: right !important;
    vertical-align: middle;
    font-size: 40px;
    text-align: right !important;
    color: #d38900;
    margin-top: 25px;
}

.icon #calendar {
    float: right !important;
    vertical-align: middle;
    font-size: 80px;
    text-align: right !important;
    color: #818d93;
}

#title {
    color: rgb(119, 119, 119);
}

.period {
    text-align: center !important;
    margin: auto;
    width: 90%;
    display: flex;
}

.period h1 {
    text-align: center;
    margin: auto;
    display: flex;
}

.cards1 {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(107, 105, 105);
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 10px;
}

.data1 {
    padding-top: 15px;
    width: 100%;
}

.announcements {
    height: auto;
    background-color: #038ccb;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(107, 105, 105);
    background-color: white;
    height: 65vh;
    justify-content: space-between;
    border-radius: 10px;
    overflow-y: scroll;
}

#anns {
    display: flex;
    border: 0.2px solid rgb(206, 206, 206);
    height: 80px;
    text-decoration: none !important;
    border-radius: 10px;
}

.left2 {
    width: 10%;
}

.left2 i {
    color: #555a5a !important;
}

#subject {
    font-weight: bold;
    color: #575555;
}

.left2 i {
    vertical-align: middle !important;
    padding: 10px;
    font-size: 40px;
    color: #3f3b3b;
}

.right2 {
    width: 88%;
    padding: 10px;
    color: #4e4e4e;
}

#no {
    text-align: center;
}

@media screen and (max-width:359px) {
    .bg {
        height: auto;
        display: block;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .card3 {
        margin-top: 500px;
    }
    #name {
        font-size: 13px !important;
    }
    .left2 i {
        font-size: 15px !important;
    }
    #subject {
        font-size: 15px;
    }
}

@media screen and (min-width:360px)and (max-width:640px) {
    .bg {
        height: auto;
        display: block;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .card3 {
        margin-top: 500px;
    }
    #name {
        font-size: 15px !important;
    }
    .left2 i {
        font-size: 17px !important;
    }
    #subject {
        font-size: 17px;
    }
}

@media screen and (min-width:641px) and (max-width:1024px) {
    .bg {
        height: auto;
        display: block;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .card3 {
        margin-top: 500px;
    }
    #name {
        font-size: 15px !important;
    }
    .left2 i {
        font-size: 17px !important;
    }
    #subject {
        font-size: 17px;
    }
}

@media screen and (min-width:1025px) and (max-width:1080px) {
    .bg {
        height: auto;
        display: flex;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .card3 {
        margin-top: 500px;
    }
    #name {
        font-size: 15px !important;
    }
    .left2 i {
        font-size: 13px !important;
    }
    #subject {
        font-size: 15px;
    }
}