@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-attachment: fixed;
    background-image: url(../images/sd2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.home-section {
    position: relative;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.heads {
    background: #0a181a;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    /* background: #c51c39; */
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 18px
}


/* own css */

.bg {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 10px;
    float: left;
    height: 200px;
    width: 60%;
}

.right {
    float: right;
    height: 200px;
    width: 35%;
    padding: 10px;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(99, 2, 57);
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 3px;
}

#r_card {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(171, 36, 2);
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 3px;
}

#r_card2 {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(90, 1, 26);
    display: flex;
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 3px;
}

.data {
    padding-top: 15px;
    width: 70%;
}

#name {
    font-weight: bold;
    font-size: 23px;
}

.icon {
    width: 25%;
}

.icon i {
    float: right !important;
    vertical-align: middle;
    font-size: 80px;
    text-align: right !important;
    color: #a34758;
}

.icon #calendar {
    float: right !important;
    vertical-align: middle;
    font-size: 80px;
    text-align: right !important;
    color: #818d93;
}

#title {
    color: rgb(38, 1, 1);
}

.period {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.cards1 {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(4, 168, 157);
    background-color: white;
    height: 130px;
    justify-content: space-between;
    border-radius: 3px;
}

.data1 {
    padding-top: 15px;
    width: 100%;
}

.announcements {
    height: auto;
    background-color: #038ccb;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgba(151, 151, 151, 0.401), 0 6px 20px 0 rgba(94, 94, 94, 0.385);
    padding: 18px;
    border-left: solid 5px rgb(157, 4, 168);
    background-color: white;
    height: 70vh;
    justify-content: space-between;
    border-radius: 3px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: red;
    /* make scrollbar transparent */
}

#anns {
    display: flex;
    border: 0.2px solid grey;
    height: 80px;
    text-decoration: none !important;
    border-radius: 3px;
}

.left2 {
    width: 10%;
}

#subject {
    font-weight: bold;
}

.left2 i {
    vertical-align: middle !important;
    padding: 10px;
    font-size: 40px;
    color: #3f3b3b;
}

.right2 {
    width: 88%;
    padding: 10px;
    color: #161010;
}

#no {
    text-align: center;
}