@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-color: #F4F6F9 !important;
    /* background: #EBEAFF !important; */
    /* background-image: url(../images/sd2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.bg {
    width: 100%;
    padding: 10px;
}

.containers {
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px rgba(128, 128, 128, 0.432);
    width: 90%;
    height: auto;
    border-radius: 6px;
    padding: 10px;
    margin: auto;
}

.containers h3 {
    background: -webkit-linear-gradient(rgb(0, 107, 9), rgb(114, 93, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containers h5 {
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containers h5 #r6 {
    font-weight: bolder;
    font-size: 15px;
}

.containers h5 #r61 {
    font-weight: bolder;
    font-size: 15px;
}

.containers h5 #r7 {
    width: 60%;
    font-size: 15px;
}

.containers h5 #r71 {
    background-color: orange;
    float: left !important;
    width: 60%;
}

.containers h5 #r72 {
    background-color: rgb(0, 204, 17);
    float: left !important;
    width: 60%;
}

.containers #em {
    cursor: none;
    width: 100%;
    display: flex !important;
}

#user {
    color: rgb(0, 14, 26);
}

.containers .inside {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inside .l1 {
    width: 50%;
}

.inside .l2 {
    width: 45%;
}