@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* add */

body {
    background-attachment: fixed;
    background-color: #F4F6F9 !important;
    /* background: #EBEAFF !important; */
    /* background-image: url(../images/sd2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
}

section {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

section>div {
    padding: 20px 40px;
}

section {
    overflow-x: hidden;
}

.heads {
    display: flex;
    background: #4b4d52;
    height: 60px !important;
}

.heads .text {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}


/* eof new */

.bg {
    width: 100%;
}

.alls {
    margin: auto;
    width: 85%;
    height: auto;
    display: block !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 5px;
}

.alls .input-group {
    width: 100%;
    display: block !important;
}

.alls .input-group .s {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.alls .input-group .s .custom-file {
    width: 80%;
}

.alls .input-group .s .input-group-append {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.input-group #labs {
    font-size: 15px !important;
    color: #555555;
}

.input-group-append button {
    background-color: rgb(0, 187, 9);
    color: #f5f5f5;
}


/* For iPhone 5 Portrait or Landscape View */

@media screen and (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .bg {
        padding: 2px !important;
        background-color: #1249d3;
    }
    .alls {
        background-color: #4b4d52;
    }
}


/* For iPhone 4 Portrait or Landscape View */

@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}


/* For Mobile Phones Portrait or Landscape View */

@media screen and (max-device-width: 640px) {
    .bg {
        padding: 7px !important;
    }
    .alls {
        width: 100%;
        padding: 2px !important;
    }
    .alls form {
        width: 100%;
    }
    .alls form .input-group .s {
        display: block !important;
    }
    .alls form .s .custom-file {
        width: 100% !important;
    }
    .alls form .input-group .s .input-group-append {
        margin-top: 7px !important;
        width: 70%;
    }
}


/* For Mobile Portrait View */

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .bg {
        padding: 7px !important;
    }
    .alls {
        width: 100%;
        padding: 2px !important;
    }
    .alls form {
        width: 100%;
    }
    .alls form .input-group .s {
        display: block !important;
    }
    .alls form .s .custom-file {
        width: 100% !important;
    }
    .alls form .input-group .s .input-group-append {
        margin-top: 7px !important;
        width: 70%;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bg {
        padding: 7px !important;
    }
    .alls {
        width: 100%;
        padding: 2px !important;
    }
    .alls form {
        width: 100%;
    }
    .alls form .input-group .s {
        display: block !important;
    }
    .alls form .s .custom-file {
        width: 100% !important;
    }
    .alls form .input-group .s .input-group-append {
        margin-top: 7px !important;
        width: 70%;
    }
}


/* For Desktop View */

@media screen and (min-width: 1024px) {
    .bg {
        padding: 30px !important;
    }
    .alls {
        width: 100%;
    }
    .alls form {
        width: 100%;
    }
    .alls form .input-group .s {
        display: flex !important;
        justify-content: space-between;
    }
    .alls form .s .custom-file {
        width: 75% !important;
    }
    .alls form .input-group .s .input-group-append {
        margin-top: 7px !important;
        width: 20%;
    }
}